/* Sticky footer styles
-------------------------------------------------- */
html {
    overflow: hidden;
    position: relative;
    min-height: 100%;
}

#footer {
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 55px;
    background-color: #f5f5f5;
}
