<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/include :: header('更新日志')"></div>
</head>
<body class="list-body">

<section class="content">
    <div class="ibox-title dashboard-header gray-bg">
        <div class="pull-right">
            <!--/*/<th:block sec:authorize="hasAuthority('manage:role:add')">/*/-->
            <button type="button" class="btn btn-sm ibtn-info" data-toggle="tooltip" data-placement="left"
                    title="新增"
                    onclick="add()">
                <i class="fa fa-plus"></i> 新增
            </button>
            <!--/*/</th:block>/*/-->
            <!--/*/<th:block sec:authorize="hasAuthority('manage:role:edit')">/*/-->
            <button class="btn btn-sm bg-orange" title="修改" data-toggle="tooltip" data-placement="left"
                    onclick="$.operate.edit()">
                <i class="fa fa-pencil"></i> 修改
            </button>
            <!--/*/</th:block>/*/-->
            <!--/*/<th:block sec:authorize="hasAuthority('manage:role:del')">/*/-->
            <button class="btn btn-sm bg-maroon" data-toggle="tooltip" data-placement="left" title="删除"
                    onclick="del()"><i
                    class="fa fa-trash-o"></i> 删除
            </button>
            <!--/*/</th:block>/*/-->
        </div>
    </div>
    <ul class="timeline">
        <th:block th:each="u ,iterStat:${updateLog}">
            <li class="time-label">
                <span class="bg-green" th:text="${#dates.format(u.releaseDate, 'yyyy-MM-dd')}"></span>
            </li>
            <li>
                <i class="fa fa-user bg-aqua"></i>
                <div class="timeline-item">
                    <span class="time" th:text="'&nbsp;'+${u.version}"><i class="fa fa-clock-o"></i></span>

                    <div class="timeline-header">
                        <label class="label-radio">
                            <input type="checkbox" name="id" class="minimal" th:value="${u.id}">
                            <label class="text-center" th:text="${u.title}"></label>
                        </label>
                    </div>
                    <div class="timeline-body" th:text="${u.content}"></div>
                </div>
            </li>
        </th:block>
    </ul>
</section>
<div th:include="fragments/include :: include-js"></div>
<script th:src="@{/static/modules/manage/js/log/update/upate_log_list.js}"></script>
<script>
    /**
     * 添加
     */
    function add() {
        $.modal.open("新增更新日志", contextPath + 'log/update/form');
    }

    /**
     * 删除
     */
    function del() {
        var rows = [];
        $('input:checkbox[name=id]:checked').each(function (k) {
            rows.push($(this).val());
        })
        if (rows.length === 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        $.modal.confirm("确认要删除选中的" + rows.length + "条数据吗?", function () {
            var data = {"ids": rows.join()};
            $.modal.loading("正在处理中，请稍后...");
            var config = {
                url: contextPath + 'log/update/removeByIds',
                type: 'POST',
                dataType: 'JSON',
                data: data,
                success: function (result) {
                    if (result.status === web_status.SUCCESS) {
                        $.modal.msgSuccess(result.msg);
                        window.location.reload();
                    }
                    $.modal.closeLoading();
                }
            };
            $.ajax(config)
        });
    }
</script>
</body>
</html>














