<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2019 ‭‭‭‭‭‭‭‭‭‭‭‭[smallbun] www.smallbun.org
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy of
  ~ this software and associated documentation files (the "Software"), to deal in
  ~ the Software without restriction, including without limitation the rights to
  ~ use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
  ~ the Software, and to permit persons to whom the Software is furnished to do so,
  ~ subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
  ~ FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
  ~ COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
  ~ IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
  ~ CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.smallbun.fast.manage.dict.dao.SysDictValueMapper">

    <!-- 延迟加载的ResultMap -->
    <resultMap id="DictLazyLoadingResultMap"
               type="org.smallbun.fast.manage.dict.entity.SysDictValueEntity">
        <!-- 对字典进行映射配置 -->
        <id column="id" property="id"/>
        <result column="dict_label" property="dictLabel"/>
        <result column="dict_value" property="dictValue"/>
        <result column="sort" property="sort"/>
        <result column="dict_type" property="dictType"/>
        <!--公共-->
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="remarks" property="remarks"/>

        <!-- 实现延迟加载类型信息  -->
        <association property="sysDictType" javaType="org.smallbun.fast.manage.dict.entity.SysDictTypeEntity"
                     select="org.smallbun.fast.manage.dict.dao.SysDictTypeMapper.selectById"
                     column="dict_type">
        </association>
        <!-- 实现延迟加载创建者信息  -->
        <association property="creator" javaType="org.smallbun.fast.manage.user.entity.SysUserEntity"
                     select="org.smallbun.fast.manage.user.dao.SysUserMapper.selectById"
                     column="creator"/>
        <!-- 实现延迟加载更新者信息  -->
        <association property="editor" javaType="org.smallbun.fast.manage.user.entity.SysUserEntity"
                     select="org.smallbun.fast.manage.user.dao.SysUserMapper.selectById"
                     column="editor"/>

    </resultMap>

    <resultMap id="resultMap"
               type="org.smallbun.fast.manage.dict.entity.SysDictValueEntity">
        <!-- 对字典进行映射配置 -->
        <id column="id" property="id"/>
        <result column="dict_label" property="dictLabel"/>
        <result column="dict_value" property="dictValue"/>
        <result column="sort" property="sort"/>
        <result column="dict_type" property="dictType"/>
        <!--公共-->
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="remarks" property="remarks"/>

        <!-- 映射字典类型  -->
        <association property="sysDictType" javaType="org.smallbun.fast.manage.dict.entity.SysDictTypeEntity">
            <id column="id" property="id"/>
            <result column="type_code" property="typeCode"/>
            <result column="type_name" property="typeName"/>
            <result column="gmt_create" property="gmtCreate"/>
            <result column="gmt_modified" property="gmtModified"/>
            <result column="remarks" property="remarks"/>
            <result column="is_deleted" property="isDeleted"/>
            <!-- 实现延迟加载创建者信息  -->
            <association property="creator" javaType="org.smallbun.fast.manage.user.entity.SysUserEntity"
                         select="org.smallbun.fast.manage.user.dao.SysUserMapper.selectById"
                         column="creator"/>
            <!-- 实现延迟加载更新者信息  -->
            <association property="creator" javaType="org.smallbun.fast.manage.user.entity.SysUserEntity"
                         select="org.smallbun.fast.manage.user.dao.SysUserMapper.selectById"
                         column="editor"/>
        </association>
        <!-- 实现延迟加载创建者信息  -->
        <association property="creator" javaType="org.smallbun.fast.manage.user.entity.SysUserEntity"
                     select="org.smallbun.fast.manage.user.dao.SysUserMapper.selectById"
                     column="creator"/>
        <!-- 实现延迟加载更新者信息  -->
        <association property="creator" javaType="org.smallbun.fast.manage.user.entity.SysUserEntity"
                     select="org.smallbun.fast.manage.user.dao.SysUserMapper.selectById"
                     column="editor"/>

    </resultMap>
    <!--分页查询-->
    <select id="page" resultType="org.smallbun.fast.manage.dict.entity.SysDictValueEntity"
            resultMap="DictLazyLoadingResultMap">
        select * from sys_dict_value
        <where>
            <if test="!@org.springframework.util.ObjectUtils@isEmpty(p.id)">
                and id=#{p.id}
            </if>
            <if test="!@org.springframework.util.ObjectUtils@isEmpty(p.dictLabel)">
                and dict_label like CONCAT(CONCAT('%',#{p.dictLabel}),'%')
            </if>
            <if test="!@org.springframework.util.ObjectUtils@isEmpty(p.dictValue)">
                and dict_value=#{p.dictValue}
            </if>
            <if test="!@org.springframework.util.ObjectUtils@isEmpty(p.sysDictType.id)">
                and dict_type=#{p.sysDictType.id}
            </if>
            and is_deleted=#{p.isDeleted}
        </where>
    </select>
    <!--根据类型编码查询字典值-->
    <select id="findByTypeCode" resultMap="resultMap">
        select *
        from sys_dict_value a
        left join sys_dict_type b on a.dict_type = b.id
        where b.type_code=#{typeCode}
        and a.is_deleted = 0
        and b.is_deleted = 0
        order by a.sort
    </select>
    <!--根据字典类型和字典编码查询字典值-->
    <select id="findLabelByTypeCodeAndValue" resultType="java.lang.String">
        select a.dict_label
            from sys_dict_value a
                   left join sys_dict_type b on a.dict_type = b.id
            where a.dict_value=#{dictValue}
            and b.type_code=#{typeCode}
    </select>
</mapper>
