<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.smallbun.fast.manage.menu.dao.SysMenuMapper">
    <resultMap id="MenuResultMap" type="org.smallbun.fast.manage.menu.entity.SysMenuEntity">
        <id property="id" column="id"/>
        <result property="menuName" column="menu_name"/>
        <result property="parentId" column="parent_id"/>
        <result property="permission" column="permission"/>
        <result property="icon" column="icon"/>
        <result property="fontColor" column="font_color"/>
    </resultMap>
    <select id="findByRoleId" resultMap="MenuResultMap">
        select distinct p.*
          from sys_menu p
                 inner join sys_role_menu rp on p.id = rp.menu_id
                 inner join sys_role sr on sr.id = rp.role_id
          where rp.role_id = #{roleId}
            and p.is_deleted  = 0
            and p.menu_status = 0
            and sr.is_deleted = 0
          order by sort asc
    </select>
</mapper>