<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.smallbun.fast.manage.notify.dao.SysNotifyRecordMapper">
    <!--根据通知公告id删除记录-->
    <delete id="delByNotifyId">
        delete  from sys_notify_record where notify_id=#{id}
    </delete>
    <!--根据通知公告查询接收人员-->
    <select id="findUserByNotifyId" resultType="org.smallbun.fast.manage.user.entity.SysUserEntity">
        select * from sys_notify_record where notify_id=#{id} and is_deleted=0
    </select>
</mapper>
