<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.smallbun.fast.manage.notify.dao.SysNotifyMapper">
    <!--批量添加-->
    <insert id="batchInsertNotifyUser">
        insert into sys_notify_record values
        <foreach collection="p" open="(" item="item" separator="," close=")">
            #{item.}
        </foreach>
    </insert>
    <!--查询-->
    <select id="findNotifyOnUnreadByUserId"
            resultType="org.smallbun.fast.manage.notify.entity.SysNotifyEntity">
        select n.*
            from sys_notify_record s
            left join sys_notify n on s.notify_id=n.id
             where s.user_id=#{userId}
             and s.read_flag=1
             and s.is_deleted=0
             and n.is_deleted=0
    </select>
</mapper>
