<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.smallbun.fast.manage.log.dao.SysOperateLogMapper">
    <!-- 延迟加载的ResultMap -->
    <resultMap id="resultMap"
               type="org.smallbun.fast.manage.log.entity.SysOperateLogEntity">
        <!-- 实现延迟加载操作用户信息  -->
        <association property="user" javaType="org.smallbun.fast.manage.user.entity.SysUserEntity"
                     select="org.smallbun.fast.manage.user.dao.SysUserMapper.selectById"
                     column="operate_user"/>
        <!-- 实现延迟加载部门信息 -->
        <association property="org" column="operate_org" fetchType="eager"
                     select="org.smallbun.fast.manage.org.dao.SysOrgMapper.selectById"/>
    </resultMap>
    <!--分页查询-->
    <select id="page" resultMap="resultMap">
      select * from sys_operate_log where is_deleted=#{vo.isDeleted}
        <if test="!@org.springframework.util.ObjectUtils@isEmpty(vo.title)">
            and title like CONCAT(CONCAT('%',#{vo.title}),'%')
        </if>
    </select>
</mapper>
