<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2019 ‭‭‭‭‭‭‭‭‭‭‭‭[smallbun] www.smallbun.org
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy of
  ~ this software and associated documentation files (the "Software"), to deal in
  ~ the Software without restriction, including without limitation the rights to
  ~ use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
  ~ the Software, and to permit persons to whom the Software is furnished to do so,
  ~ subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
  ~ FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
  ~ COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
  ~ IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
  ~ CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.smallbun.fast.manage.role.dao.SysRoleMapper">

    <resultMap type="org.smallbun.fast.manage.role.entity.SysRoleEntity" id="roleMap">
        <id column="id" property="id"/>
        <result column="role_name" property="roleName"/>
        <result column="enName" property="enName"/>
        <result column="data_scope" property="dataScope"/>
        <!--查询菜单-->
        <collection property="menuList" column="id" fetchType="eager"
                    select="org.smallbun.fast.manage.menu.dao.SysMenuMapper.findByRoleId"/>
        <!--查询用户-->
        <collection property="userList" column="id" fetchType="eager"
                    select="org.smallbun.fast.manage.user.dao.SysUserMapper.findByRoleId"/>
        <!--查询明细设置-->
    </resultMap>

    <!--获取全部数据-->
    <select id="findAll" resultMap="roleMap">
            select * from sys_role where is_deleted=#{isDeleted}
    </select>
    <!--根据用户ID查询用户具有的角色-->
    <select id="findByUserId" resultType="org.smallbun.fast.manage.role.entity.SysRoleEntity">
      select *
      from  sys_role sr
             inner join sys_user_role sur on sr.id = sur.role_id
             inner join sys_user su on su.id = sur.user_id
      where su.id=#{userId}
        and su.is_deleted = 0
        and sr.is_deleted = 0
    </select>

    <!--删除角色对应部门，根据角色ID-->
    <delete id="deleteRoleOrgByRoleId">
        delete from sys_role_org where role_id=#{id}
    </delete>
    <!--根据角色id删除角色菜单-->
    <delete id="deleteRoleMenuByRoleId">
        delete from sys_role_menu where role_id=#{id}
    </delete>
    <!--删除用户和角色挂链根据用户id-->
    <delete id="delRoleUserByUserId">
        delete from sys_user_role where user_id=#{id}
    </delete>
    <!--批量添加角色-部门权限-->
    <insert id="batchRoleOrgInsert">
        insert sys_role_org(role_id, org_id)
        VALUES
        <foreach collection="entity.orgList" item="item" separator=",">
            (#{entity.id},#{item.id})
        </foreach>
    </insert>
    <!--批量添加角色-菜单-->
    <insert id="batchRoleMenuInsert">
        insert sys_role_menu(role_id, menu_id) VALUES
        <foreach collection="entity.menuList" item="item" separator=",">
            (#{entity.id},#{item.id})
        </foreach>
    </insert>
    <!--添加角色-用户-->
    <insert id="saveRoleUser">
        insert into sys_user_role(user_id, role_id)
        VALUES
        <foreach collection="roleIds" item="item" index="index" separator=",">
            (#{userId},#{item})
        </foreach>
    </insert>
</mapper>
