<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2019 ‭‭‭‭‭‭‭‭‭‭‭‭[smallbun] www.smallbun.org
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy of
  ~ this software and associated documentation files (the "Software"), to deal in
  ~ the Software without restriction, including without limitation the rights to
  ~ use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
  ~ the Software, and to permit persons to whom the Software is furnished to do so,
  ~ subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
  ~ FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
  ~ COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
  ~ IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
  ~ CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.smallbun.fast.manage.user.dao.SysUserMapper">

    <resultMap type="org.smallbun.fast.manage.user.entity.SysUserEntity" id="userMap">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="phone" property="phone"/>
        <result column="org_id" property="orgId"/>
        <!--用户归属部门-->
        <association property="org" column="org_id" fetchType="eager"
                     select="org.smallbun.fast.manage.org.dao.SysOrgMapper.selectById"/>
        <!--用户所具有的角色-->
        <collection property="roleList" column="id" fetchType="eager"
                    select="org.smallbun.fast.manage.role.dao.SysRoleMapper.findByUserId"/>
    </resultMap>
    <!--更改密码-->
    <update id="changePassword">
        update sys_user
        set password =
                #{password}
        where id = #{id}
    </update>
    <!--更改最后登录信息-->
    <update id="updateLastLoginInfo">
        update sys_user
        set
            last_login_address=#{info.lastLoginAddress},
            last_login_ip=#{info.lastLoginIp},
            last_login_time=#{info.lastLoginTime}
        where id = #{info.id}
    </update>
    <!--更新用户头像-->
    <update id="updateHeadPortrait">
        update sys_user
        set head_portrait_url=#{headPortraitUrl}
        where id = #{id}
    </update>
    <!--根据角色ID查询所有的用户-->
    <select id="findByRoleId" resultType="org.smallbun.fast.manage.user.entity.SysUserEntity" flushCache="true"
            useCache="true">
        select su.*
        from sys_role sr
                 inner join sys_user_role sur on sr.id = sur.role_id
                 inner join sys_user su on sur.user_id = su.id
        where sr.id = #{roleId}
    </select>
    <!--根据用户名查询用户-->
    <select id="findByUsername" resultMap="userMap">
        select *
        from sys_user t
        where t.username = #{username}
          and is_deleted = 0
    </select>
    <!--自定义分页查询-->
    <select id="page" resultMap="userMap">
        select * from sys_user s left join sys_org o on o.id = s.org_id where s.is_deleted=#{p.isDeleted}
        <if test="!@org.springframework.util.ObjectUtils@isEmpty(p.orgId)">
            and o.id=#{p.orgId} or o.parent_id=#{p.orgId}
        </if>
        <if test="!@org.springframework.util.ObjectUtils@isEmpty(p.username)">
            and s.username like CONCAT('%',#{p.username},'%')
        </if>
        <if test="!@org.springframework.util.ObjectUtils@isEmpty(p.phone)">
            and s.phone=#{p.phone}
        </if>
        <if test="!@org.springframework.util.ObjectUtils@isEmpty(p.birthdayStart) and !@org.springframework.util.ObjectUtils@isEmpty(p.birthdayEnd)">
            and s.birthday between #{p.birthdayStart} and #{p.birthdayEnd}
        </if>
    </select>
    <!--根据ID查询用户-->
    <select id="findById" resultMap="userMap">
        select id,
               full_name,
               username,
               org_id,
               id_card,
               job_number,
               nick_name,
               user_type,
               head_portrait_url,
               phone,
               telephone,
               email,
               birthday,
               sex,
               qr_code,
               last_login_time,
               user_status,
               org_id,
               creator,
               gmt_create,
               editor,
               gmt_modified,
               remarks
        from sys_user
        where is_deleted = 0
          and id = #{id}
    </select>
</mapper>