<!DOCTYPE HTML>
<!--suppress ALL-->
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/include  :: header('个人信息')"></div>
    <style>
        .pull-left {
            float: left !important;
        }

        .default-avatar-wrap .default-avatar-list li {
            width: 110px;
            height: 110px;
            float: left;
            margin: 13px 0 0px 16px;
            cursor: pointer;
            list-style: none;
        }

        .default-avatar-wrap .default-avatar-list li img {
            display: block;
            width: 110px;
            height: 110px;
            padding: 1px;
            border: 2px solid #EEE;
            border-radius: 5px;
            vertical-align: middle;
        }

        .default-avatar-wrap {
            width: 409px;
            height: 140px;
            background: #EEE;
            float: left;
            padding-left: 2px;
            border: 1px solid #D9D9D9;
            overflow-y: auto;
        }
    </style>
</head>
<body class="list-body">
<section class="content">
    <div class="row">
        <div class="col-xs-3" style="height: 100% ;padding-right: 5px">
            <div class="ibox">
                <div class="ibox-title dashboard-header gray-bg">
                    <h5>个人资料</h5>
                </div>
                <div class="ibox-content">
                    <div style="text-align: center;">
                        <p><img width="120" height="120"
                                th:src="${user.headPortraitUrl}"></p>
                        <p class="avatar-txt-margin" style="text-align: center">
                            <a data-toggle="modal" data-target="#modal-default">修改头像</a>
                        </p>
                    </div>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b style="font-weight: 400">用户名：</b>
                            <p class="pull-right"
                               th:text="${user.username}"></p>
                        </li>
                        <li class="list-group-item">
                            <b style="font-weight: 400">上次登录地：</b>
                            <p class="pull-right"
                               th:text="${user.lastLoginAddress}"></p>
                        </li>
                        <li class="list-group-item">
                            <b style="font-weight: 400">上次登录IP：</b>
                            <p class="pull-right"
                               th:text="${user.lastLoginIp}"></p>
                        </li>
                        <li class="list-group-item">
                            <b style="font-weight: 400">上次登录时间：</b>
                            <p class="pull-right"
                               th:text="${user.lastLoginTime}"></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-9" style="height: 100%; padding-left: 0px">
            <div class="ibox">
                <div class="ibox-title dashboard-header gray-bg">
                    <h5>基本资料</h5>
                </div>
                <div class="ibox-content">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#user_info" data-toggle="tab" aria-expanded="true">基本资料</a>
                            </li>
                            <li class=""><a href="#modify_password" data-toggle="tab" aria-expanded="false">修改密码</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <!--用户信息-->
                            <div class="tab-pane active" id="user_info">
                                <form class="form-horizontal" th:action="@{/user/saveOrUpdate}" id="updateUserInfoForm">
                                    <!--隐藏ID-->
                                    <input th:value="${user.id}" name="id" type="hidden">
                                    <div class="form-group">
                                        <label for="nickName" class="col-sm-2 control-label">昵称：</label>
                                        <div class="col-sm-10">
                                            <input type="text" autocomplete="off" class="form-control required"
                                                   id="nickName"
                                                   name="nickName" th:value="${user.nickName}"
                                                   placeholder="请输入昵称">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone" class="col-sm-2 control-label">手机：</label>

                                        <div class="col-sm-10">
                                            <input type="tel" autocomplete="off" class="form-control required"
                                                   id="phone" name="phone" maxlength="11"
                                                   th:value="${user.phone}"
                                                   placeholder="请输入手机号">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label">邮箱：</label>

                                        <div class="col-sm-10">
                                            <input type="email" autocomplete="off" class="form-control required email"
                                                   name="email" id="email" th:value="${user.email}"
                                                   placeholder="请输入邮箱" data-inputmask="'alias':'email'" data-mask>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="button" onclick="updateUserInfo()" class="btn ibtn-primary">提交
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--修改密码-->
                            <div class="tab-pane" id="modify_password">
                                <form class="form-horizontal" id="changPasswordForm" th:action="@{/user/changPassword}"
                                      method="post">
                                    <div class="form-group">
                                        <label for="oldPassword" class="col-sm-2 control-label">旧密码：</label>
                                        <div class="col-sm-10">
                                            <input type="password" title="请输入旧密码" class="form-control required"
                                                   id="oldPassword" name="oldPassword"
                                                   placeholder="请输入旧密码">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="newPassword" class="col-sm-2 control-label">新密码：</label>

                                        <div class="col-sm-10">
                                            <input type="password" title="请输入新密码" class="form-control required"
                                                   id="newPassword" name="newPassword"
                                                   placeholder="请输入新密码">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword" class="col-sm-2 control-label">确认密码：</label>
                                        <div class="col-sm-10">
                                            <input type="password" title="两次密码不相同" class="form-control required"
                                                   id="confirmPassword" equalto="#newPassword"
                                                   name="confirmPassword"
                                                   placeholder="请确认密码">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="button" onclick="changPassword()" class="btn ibtn-primary">
                                                提交
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">修改头像</h4>
                </div>
                <div class="modal-body">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#personality_avatar" data-toggle="tab" aria-expanded="true">个性头像编辑</a>
                            </li>
                            <li class=""><a href="#local_avatar" data-toggle="tab" aria-expanded="false">本地头像上传</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="personality_avatar">
                                <div ng-show="selectedMode != 'local'" class=""><p class="margin-top-2"
                                                                                   bo-bind="'accountcenter.common.avarta.select.local' | translate">
                                    从个性头像库里选择一张图片作为头像</p>
                                    <div class="clearfix">
                                        <div class="pull-left default-avatar-wrap">
                                            <ul class="default-avatar-list">
                                                <!-- ngRepeat: item in ATATAR_DEFAULT_IMAGES -->
                                                <li ng-click="select(item.src)"
                                                    ng-repeat="item in ATATAR_DEFAULT_IMAGES"
                                                    ng-class="{'no-margin': ($index + 1)%3 == 0,selected: selectedValue == item.src }"
                                                    class="ng-scope selected"><img
                                                        ng-src="https://oss.aliyuncs.com/aliyun_id_photo_bucket/default_beauty.jpg"
                                                        alt=""
                                                        src="https://oss.aliyuncs.com/aliyun_id_photo_bucket/default_beauty.jpg">
                                                </li><!-- end ngRepeat: item in ATATAR_DEFAULT_IMAGES -->
                                                <li ng-click="select(item.src)"
                                                    ng-repeat="item in ATATAR_DEFAULT_IMAGES"
                                                    ng-class="{'no-margin': ($index + 1)%3 == 0,selected: selectedValue == item.src }"
                                                    class="ng-scope"><img
                                                        ng-src="https://oss.aliyuncs.com/aliyun_id_photo_bucket/default_colleagues.jpg"
                                                        alt=""
                                                        src="https://oss.aliyuncs.com/aliyun_id_photo_bucket/default_colleagues.jpg">
                                                </li><!-- end ngRepeat: item in ATATAR_DEFAULT_IMAGES -->
                                                <li ng-click="select(item.src)"
                                                    ng-repeat="item in ATATAR_DEFAULT_IMAGES"
                                                    ng-class="{'no-margin': ($index + 1)%3 == 0,selected: selectedValue == item.src }"
                                                    class="ng-scope no-margin"><img
                                                        ng-src="https://oss.aliyuncs.com/aliyun_id_photo_bucket/default_family.jpg"
                                                        alt=""
                                                        src="https://oss.aliyuncs.com/aliyun_id_photo_bucket/default_family.jpg">
                                                </li><!-- end ngRepeat: item in ATATAR_DEFAULT_IMAGES -->
                                                <li ng-click="select(item.src)"
                                                    ng-repeat="item in ATATAR_DEFAULT_IMAGES"
                                                    ng-class="{'no-margin': ($index + 1)%3 == 0,selected: selectedValue == item.src }"
                                                    class="ng-scope"><img
                                                        ng-src="https://oss.aliyuncs.com/aliyun_id_photo_bucket/default_friend.jpg"
                                                        alt=""
                                                        src="https://oss.aliyuncs.com/aliyun_id_photo_bucket/default_friend.jpg">
                                                </li><!-- end ngRepeat: item in ATATAR_DEFAULT_IMAGES -->
                                                <li ng-click="select(item.src)"
                                                    ng-repeat="item in ATATAR_DEFAULT_IMAGES"
                                                    ng-class="{'no-margin': ($index + 1)%3 == 0,selected: selectedValue == item.src }"
                                                    class="ng-scope"><img
                                                        ng-src="https://oss.aliyuncs.com/aliyun_id_photo_bucket/default_handsome.jpg"
                                                        alt=""
                                                        src="https://oss.aliyuncs.com/aliyun_id_photo_bucket/default_handsome.jpg">
                                                </li><!-- end ngRepeat: item in ATATAR_DEFAULT_IMAGES -->
                                                <li ng-click="select(item.src)"
                                                    ng-repeat="item in ATATAR_DEFAULT_IMAGES"
                                                    ng-class="{'no-margin': ($index + 1)%3 == 0,selected: selectedValue == item.src }"
                                                    class="ng-scope no-margin"><img
                                                        ng-src="https://oss.aliyuncs.com/aliyun_id_photo_bucket/default_trade.jpg"
                                                        alt=""
                                                        src="https://oss.aliyuncs.com/aliyun_id_photo_bucket/default_trade.jpg">
                                                </li><!-- end ngRepeat: item in ATATAR_DEFAULT_IMAGES --></ul>
                                        </div>
                                        <div class="pull-left avatar-preview text-center" ng-show="!!selectedValue"><p>
                                            <img ng-src="https://oss.aliyuncs.com/aliyun_id_photo_bucket/default_beauty.jpg"
                                                 alt=""
                                                 src="https://oss.aliyuncs.com/aliyun_id_photo_bucket/default_beauty.jpg">
                                        </p>
                                            <p bo-bind="'accountcenter.common.avarta.preview' | translate">头像预览</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="local_avatar">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn ibtn-primary">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<div th:include="fragments/include :: include-js"></div>
<div th:include="fragments/include :: jquery-validate-js"/>
<script th:src="@{/static/modules/manage/js/user/profile.js}"></script>
</html>